<% comments.each do |comment| %>
<div class="border mb-2">
  <div class="m-2">
    <%= link_to user_path(comment.user_id), class: "text-muted" do %>
      <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %>
      <%= comment.user.name %>
    <% end %>
    <a class="float-right">
      <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
    </a>
  </div>

  <div class="m-2 text-muted">
    <i class="fas fa-angle-right text-muted"> <%= comment.content %></i>
  </div>

  <% if comment.user == current_user %>
    <div class="text-right">
      <%= link_to "削除", game_comments_path(comment), class: 'btn-sm btn-danger', method: :delete %>
    </div>
  <% end %>
</div>
<% end %>