<div class="row">
  <div class="col-4 mx-auto mt-3">
	<h4 class="mb-3">会員情報編集</h4>

	<% if @user.errors.any? %>
	<div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
        <% end %>
      </ul>
	</div>
	<% end %>

	<div class="p-3 border border-radius rounded">
	  <div class="text-center mb-3">
	    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "rounded-circle", fallback: "no_icon.png", size: "100x100" %>
	  </div>
	<%= form_for(@user) do |f| %>
	  <%= f.attachment_field :profile_image, class: "mb-2" %>
	  <div class="form-group">
	    <%= f.label :name, :ユーザー名 %><br />
	    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
	  </div>

	  <%= f.submit "保存する", class: "btn btn-success form-control" %>
	<% end %>
	</div>
	<%= link_to "退会する", user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger form-control text-center my-2" %>
	<%= link_to "マイページに戻る", user_path(@user), class: "fas fa-angle-double-left text-info" %>
  </div>
</div>