<div class="row">
  <div class="col-xs-2">
	<table class="table">
	  <tr>
	  	<%= attachment_image_tag @user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %>
	  </tr>
	  <tr>
        <%= @user.name %>
	  </tr>
	</table>

	<% if @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-info" %>
    <% end %>
  </div>

  <div class="col-xs-5 border-left">
  	<h5 class="text-muted">あなたのいいね</h5>
	<% @user.favorites.each do |favo| %>
	<% if favo.game.user_id != current_user.id %>
	  <%= link_to user_path(favo.game.user), class: "text-info" do %>
	    <%= attachment_image_tag favo.game.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %>
	    <%= favo.game.user.name %><%= "さん" %>
	  <% end %>
	  <%= link_to game_path(favo.game), class: "text-info" do %>
	    <%= favo.game.title %>
	  <% end %>
	<% end %>
	<% end %>
  </div>
</div>
