<div class="row">

  <div class="col-2">
	<table class="table">
	  <tr>
	  	<%= attachment_image_tag @user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %><br>
        <%= @user.name %>
	  </tr>
	</table>
	<% if @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-info" %>
    <% end %>
  </div>

  <div class="col-5 border-right border-left">
  	<h5 class="text-muted">投稿</h5>
	<table class='table table-hover table-inverse'>
	  <thead>
	    <tr>
	      <th>ゲーム名</th>
	      <th>カテゴリー</th>
	      <th class="text-right">投稿日</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @games.each do |game| %>
	      <tr>
	        <td>
	          <%= link_to game_path(game), class: "text-info" do %>
	      	  <%= game.title %>
	      	  <% end %>
	        </td>
	        <td>
	          <%= game.category.name %>
	        </td>
		    <td class="text-right">
		  	  <%= game.created_at.strftime("%Y/%m/%d %H:%M") %>
		    </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
  </div>

  <% if @user == current_user %>
  <div class="col-5 border-right border-left">
  	<h5 class="text-muted">あなたのいいね</h5>
	<table class='table table-hover table-inverse'>
	  <thead>
	    <tr>
	      <th>投稿者</th>
	      <th>ゲーム名</th>
	      <th class="text-right">いいねした日時</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @favorites.each do |fav| %>
	    <% if fav.game.user_id != current_user.id %>
		  <tr>
		    <td>
		  	  <%= link_to user_path(fav.game.user), class: "text-info" do %>
		      <%= attachment_image_tag fav.game.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %><br>
		      <%= fav.game.user.name %>
		      <% end %>
		    </td>
		    <td>
		  	  <%= link_to game_path(fav.game), class: "text-info" do %>
		      <%= fav.game.title %>
		      <% end %>
		    </td>
		    <td class="text-right">
		  	  <%= fav.created_at.strftime("%Y/%m/%d %H:%M") %>
		    </td>
		  </tr>
	    <% end %>
	    <% end %>
	  </tbody>
	</table>
  </div>
  <% end %>
</div>
