<%= form_for(game) do |f| %>

  <h5>ゲーム名</h5>
  <%= f.text_field :title %>

  <h5>カテゴリー</h5>
  <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %>

  <h5>プレイ人数</h5>
  <%= f.select :player, Game.players.keys.to_a, {} %>

  <h5>プレイ時間</h5>
  <%= f.select :playing_time, Game.playing_times.keys.to_a, {} %>

  <h5>推奨年齢</h5>
  <%= f.select :level, Game.levels.keys.to_a, {} %>

  <h5>説明</h5>
  <%= f.text_area :content, size: "50x3", wrap: "hard" %>

  <h5>ルール</h5>
  <div class="js-game">
    <%= f.fields_for :game_rules do |rule| %>
      <%= render "game_rule_fields", f: rule %>
    <% end %>
    <%= link_to_add_association f, :game_rules do %>
      <i class="fas fa-folder-plus">追加</i>
    <% end %>
  </div>

  <% case controller.action_name %>
  <% when "new" %>
    <%= f.submit "投稿する", class: "btn btn-success" %>
  <% else %>
    <%= f.submit "保存する", class: "btn btn-success" %>
  <% end %>

<% end %>