<div class="body">
  <div class="container mt-3">
    <% @games.each do |game| %>
    <div class="game_index mb-3">
      <div class="m-2">

        <nav class="border-bottom mb-1 pb-3">
          <span class="game_title mx-4">
            <%= link_to game_path(game), class: "text-info" do %>
              <%= game.title %>
            <% end %>
          </span>

          <%= game.category.name %>

          <span class="float-right">
            <%= link_to user_path(game.user), class: "text-info" do %>
              <%= attachment_image_tag game.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %>
              <%= game.user.name %>
            <% end %>

            <span id="favorite_<%= game.id %>">
              <%= render "favorites/favorite", game: game %>
            </span>
            <i class="far fa-comment-dots"></i>
            <span class="mr-2">
              <%= game.comments.count %>
            </span>

            <%= game.created_at.strftime("%Y/%m/%d %H:%M") %>
          </span>
        </nav>

        <div class="row">
          <div class="col-4 border-right">
            <%= link_to game_path(game) do %>
              <%= attachment_image_tag game, :main_image, :fit, 280, 210, fallback: "no_image.png", size: "280x210" %>
            <% end %>
          </div>

          <ul class="col-2">
            <li class="border-bottom mt-2 mb-3">
              プレイ人数<br>
              <%= game.player %>
            </li>
            <li class="border-bottom mb-3">
              プレイ時間<br>
              <%= game.playing_time %>
            </li>
            <li class="border-bottom">
              推奨年齢<br>
              <%= game.level %>
            </li>
          </ul>

          <div class="col-5 border-left">
            <span class="game_content text-muted">
              <%= simple_format(game.content) %>
            </span>
          </div>
        </div>

      </div>
    </div>
    <% end %>

    <%= paginate @games %>

  </div>
</div>