<div class="body">
  <div class="container mt-3">
	<div class="row">
	  <div class="col-6 border-right">
	  	<h5 class="text-muted">いいね数</h5>
		<table class='table table-hover table-inverse'>
		  <thead>
		    <tr>
		      <th></th>
		      <th>投稿者</th>
		      <th>ゲーム名</th>
		      <th>
		      	<i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
		      </th>
		      <th>
		      	<i class="far fa-comment-dots"></i>
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @fav_rank.each do |fav| %>
		  	  <tr>
		  	  	<td>
		  	  	  <%= attachment_image_tag fav, :main_image, :fit, 120, 90, fallback: "no_image.png", size: "120x90" %>
		  	  	</td>
			    <td>
			  	  <%= link_to user_path(fav.user), class: "text-info" do %>
			        <%= attachment_image_tag fav.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %><br>
			        <%= fav.user.name %>
			      <% end %>
			    </td>
		  	  	<td>
		  	  	  <%= link_to game_path(fav), class: "text-info" do %>
		  	  	    <%= fav.title %>
		  	  	  <% end %>
		  	  	</td>
		  	  	<td>
				  <%= fav.favorites.count %>
				</td>
				<td>
				  <%= fav.comments.count %>
		  	  	</td>
		  	  </tr>
		  	<% end %>
		  </tbody>
		</table>
	  </div>

	  <div class="col-6">
	  	<h5 class="text-muted">コメント数</h5>
		<table class='table table-hover table-inverse'>
		  <thead>
		    <tr>
		      <th></th>
		      <th>投稿者</th>
		      <th>ゲーム名</th>
		      <th>
		      	<i class="far fa-comment-dots"></i>
		      </th>
		      <th>
		      	<i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @cmt_rank.each do |cmt| %>
		  	  <tr>
		  	  	<td>
		  	  	  <%= attachment_image_tag cmt, :main_image, :fit, 120, 90, fallback: "no_image.png", size: "120x90" %>
		  	  	</td>
			    <td>
			  	  <%= link_to user_path(cmt.user), class: "text-info" do %>
			        <%= attachment_image_tag cmt.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %><br>
			        <%= cmt.user.name %>
			      <% end %>
			    </td>
		  	  	<td>
		  	  	  <%= link_to game_path(cmt), class: "text-info" do %>
		  	  	    <%= cmt.title %>
		  	  	  <% end %>
		  	  	</td>
		  	  	<td>
				  <%= cmt.comments.count %>
				</td>
				<td>
				  <%= cmt.favorites.count %>
		  	  	</td>
		  	  </tr>
		  	<% end %>
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
</div>