<div class="body">
	<div class="main_contents">

	  <span id="switch_good" class="show_color">いいね数</span>
	  <span id="switch_comment">コメント数</span>

	  <div id="good">
		<table class="table table-hover table-inverse">
		  <thead>
		    <tr>
		      <th>
		      	<h5 class="fas fa-crown"></h5>
		      </th>
		      <th></th>
		      <th>投稿者</th>
		      <th>ゲーム名</th>
		      <th>
		      	<h5 class="fas fa-heart" style="color: red;"></h5>
		      </th>
		      <th>
		      	<h5 class="far fa-comment-dots"></h5>
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @fav_rank.each.with_index(1) do |fav, i| %>
		  	  <tr>
		  	  	<td>
	  	  	  	  <% case i %>
	  	  	  	  <% when 1 %>
	  	  	  	    <div class="first_place">
	  	  	  	      <i class="fas fa-crown"></i>
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% when 2 %>
	  	  	  	    <div class="second_place">
	  	  	  	      <i class="fas fa-crown"></i>
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% when 3 %>
	  	  	  	    <div class="third_place">
	  	  	  	      <i class="fas fa-crown"></i>
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% else %>
	  	  	  	    <div class="text-muted">
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% end %>
		  	  	</td>
		  	  	<td>
		  	  	  <%= attachment_image_tag fav, :main_image, :fit, 200, 150, fallback: "no_image.png", size: "200x150" %>
		  	  	</td>
			    <td>
			  	  <%= link_to user_path(fav.user), class: "text-info" do %>
			        <%= attachment_image_tag fav.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %><br>
			        <%= fav.user.name %>
			      <% end %>
			    </td>
		  	  	<td>
		  	  	  <%= link_to game_path(fav), class: "text-info" do %>
		  	  	    <h4><%= fav.title %></h4>
		  	  	  <% end %>
		  	  	</td>
		  	  	<td>
				  <h5><%= fav.favorites.count %></h5>
				</td>
				<td>
				  <h5><%= fav.comments.count %></h5>
		  	  	</td>
		  	  </tr>
		  	<% end %>
		  </tbody>
		</table>
	  </div>

	  <div id="comment" class="hidden">
		<table class="table table-hover table-inverse">
		  <thead>
		    <tr>
		      <th>
		      	<h5 class="fas fa-crown"></h5>
		      </th>
		      <th></th>
		      <th>投稿者</th>
		      <th>ゲーム名</th>
		      <th>
		      	<h5 class="far fa-comment-dots"></h5>
		      </th>
		      <th>
		      	<h5 class="fas fa-heart" style="color: red;"></h5>
		      </th>
		    </tr>
		  </thead>
		  <tbody>
		  	<% @cmt_rank.each.with_index(1) do |cmt, i| %>
		  	  <tr>
		  	  	<td>
	  	  	  	  <% case i %>
	  	  	  	  <% when 1 %>
	  	  	  	    <div class="first_place">
	  	  	  	      <i class="fas fa-crown"></i>
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% when 2 %>
	  	  	  	    <div class="second_place">
	  	  	  	      <i class="fas fa-crown"></i>
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% when 3 %>
	  	  	  	    <div class="third_place">
	  	  	  	      <i class="fas fa-crown"></i>
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% else %>
	  	  	  	    <div class="text-muted">
	  	  	  	      <%= i %>
	  	  	  	    </div>
	  	  	  	  <% end %>
		  	  	</td>
		  	  	<td>
		  	  	  <%= attachment_image_tag cmt, :main_image, :fit, 200, 150, fallback: "no_image.png", size: "200x150" %>
		  	  	</td>
			    <td>
			  	  <%= link_to user_path(cmt.user), class: "text-info" do %>
			        <%= attachment_image_tag cmt.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %><br>
			        <%= cmt.user.name %>
			      <% end %>
			    </td>
		  	  	<td>
		  	  	  <%= link_to game_path(cmt), class: "text-info" do %>
		  	  	    <h4><%= cmt.title %></h4>
		  	  	  <% end %>
		  	  	</td>
		  	  	<td>
				  <h5><%= cmt.comments.count %></h5>
				</td>
				<td>
				  <h5><%= cmt.favorites.count %></h5>
		  	  	</td>
		  	  </tr>
		  	<% end %>
		  </tbody>
		</table>
	  </div>
	</div>

</div>