<% if @game.user == current_user %>
  <%= link_to "編集", edit_game_path(@game), class: "btn btn-outline-info" %>
<% end %>

<h5>ゲーム名</h5>
<%= @game.title %>

<h5>カテゴリー</h5>
<%= @game.category.name %>

<h5>ゲーム説明</h5>
<%= @game.content %>

<% @game.game_rules.each do |rule| %>
<div class="col-3 border m-2">
  <%= attachment_image_tag rule, :image, :fit, 240, 180, fallback: "no_image.png", size: "240x180" %>
</div>
  <%= rule.text %>
<% end %>