<div id="wrapper">

  <div id="open_nav" class="text-muted">
    <h2>
      <i class="far fa-comment-dots"></i>
      <%= @game.comments.count %>
    </h2>
    <i class="far fa-caret-square-right ml-2 text-info"></i>
  </div>

  <div class="body text-muted">
    <div class="container mt-3">
      <%= link_to "ゲーム一覧に戻る", games_path, class: "fas fa-angle-double-left text-info" %>

      <h4 class="mb-2">
        <%= link_to user_path(@game.user), class: "text-info" do %>
          <%= attachment_image_tag @game.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %>
          <%= @game.user.name %>
        <% end %>
        <% if @game.user == current_user %>
          <%= link_to "編集する", edit_game_path(@game), class: "fas fa-angle-double-right text-info ml-5" %>
        <% end %>
      </h4>

      <div class="parameter float-right">
        <h4>プレイ人数</h4>
        <h5 class="border-bottom border-warning mb-3">
          <%= @game.player %>
        </h5>
        <h4>プレイ時間</h4>
        <h5 class="border-bottom border-warning mb-3">
          <%= @game.playing_time %>
        </h5>
        <h4>推奨年齢</h4>
        <h5 class="border-bottom border-warning">
          <%= @game.level %>
        </h5>
      </div>
      <span class="show-game_cate">カテゴリー：<%= @game.category.name %></span>
      <nav class="show-game mb-2 text-muted">
        <span class="show-game_title"><%= @game.title %></span>
        <span id="favorite_<%= @game.id %>" class="show-game_fav">
          <%= render "favorites/favorite", game: @game %>
        </span>
      </nav>

      <%= attachment_image_tag @game, :main_image, :fit, 440, 330, fallback: "no_image.png", size: "440x330" %>

      <div class="float-right mr-5 mt-5" style="width:400px; height:300px;">
        <canvas id="myChart" width="100" height="80" data-player="<%= @game.player_before_type_cast %>" data-playing_time="<%= @game.playing_time_before_type_cast %>" data-level="<%= @game.level_before_type_cast %>">
        </canvas>
        <script>draw_graph();</script>
      </div>

      <div class="show-game_content">
        <h4>ゲーム説明</h4>
        <h5 class="content_text"><%= simple_format(@game.content) %></h5>
      </div>

      <div class="row my-4 ml-5">
        <% @game.game_rules.each do |rule| %>
        <div class="col-4 mb-3 mr-5">
          <%= attachment_image_tag rule, :image, :fit, 320, 240, fallback: "no_image.png", size: "320x240" %>
        </div>
        <div class="rule_text col-5 mb-3 mx-5 border border-warning">
          <%= simple_format(rule.text) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<nav id="nav" class="text-muted">
  <h5>
    <strong>コメント</strong>
    <span id="close_nav" class="float-right">
      <i class="fas fa-times"></i>
    </span>
  </h5>
  <%= render "comments/form", game: @game, comment: @comment %>
  <%= render "comments/index", comments: @comments %>
</nav>