<div id="wrapper">
  <%= link_to "ゲーム一覧に戻る", games_path, class: "fas fa-angle-double-left text-info" %>

  <h5 class="my-2">
    <%= link_to user_path(@game.user), class: "text-info" do %>
      <%= attachment_image_tag @game.user, :profile_image, :fill, 50, 50, class: "rounded-circle", fallback: "no_icon.png", size: "50x50" %>
      <%= @game.user.name %>
    <% end %>
    <a id="favorite_<%= @game.id %>">
      <%= render "favorites/favorite", game: @game %>
    </a>
    <i class="far fa-comment-dots ml-1" id="open_nav"></i>
    <%= @game.comments.count %>
    <% if @game.user == current_user %>
    <%= link_to "編集する", edit_game_path(@game), class: "fas fa-angle-double-right text-info ml-5" %>
    <% end %>
  </h5>

  <ul class="float-right mt-5 mr-2">
    <li><%= @game.player %></li>
    <li><%= @game.playing_time %></li>
    <li><%= @game.level %></li>
  </ul>

  <%= attachment_image_tag @game, :main_image, :fit, 400, 300, fallback: "no_image.png", size: "400x300" %>

  <div class="float-right mr-5" style="width:400px; height:300px;">
    <canvas id="myChart" width="100" height="100" data-player="<%= @game.player_before_type_cast %>" data-playing_time="<%= @game.playing_time_before_type_cast %>" data-level="<%= @game.level_before_type_cast %>"></canvas>
    <script>draw_graph();</script>
  </div>

  <h5>ゲーム名</h5>
  <%= @game.title %>

  <h5>カテゴリー</h5>
  <%= @game.category.name %>



  <h5>ゲーム説明</h5>
  <%= @game.content %>

  <% @game.game_rules.each do |rule| %>
  <div class="col-3 m-2">
    <%= attachment_image_tag rule, :image, :fit, 240, 180, fallback: "no_image.png", size: "240x180" %>
  </div>
    <%= rule.text %>
  <% end %>
</div>

<nav id="nav">
  <h5>コメント</h5>
  <%= render "comments/form", game: @game, comment: @comment %>
  <%= render "comments/index", comments: @comments %>
</nav>