<header>
  <%= link_to root_path, class: "ml-4 pl-4" do %>
  <%= image_tag "ur_game.png", :width => "165", :height => "55" %>
  <% end %>

  <% if user_signed_in? %>
    <div class="float float-right mr-5 mt-2">
    <%= link_to edit_user_path(current_user), class: "mr-2 text-muted" do %>
      <%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, class: "rounded-circle", fallback: "no_icon.png", size: "40x40" %>
      <%= current_user.name %> さん
    <% end %>
    <%= link_to "投稿する", new_game_path, class: "far fa-edit mr-2 text-muted " %>
    <%= link_to "通知", notifications_path, class: "text-muted" %>
    </div>
  <% end %>

  <ul class="nav nav-pills nav-fill">
    <% if user_signed_in? %>
      <li class="nav-item" style="background-color:#FCF5DC;">
        <%= link_to "ホーム", root_path, class: "mr-4 text-muted" %>
      </li>
      <li class="nav-item" style="background-color:#FDE1C9;">
        <%= link_to "サービス", home_about_path, class: "mr-4 text-muted" %>
      </li>
      <li class="nav-item" style="background-color:#FCF5DC;">
        <%= link_to "マイページ", user_path(current_user), class: "mr-4 text-muted" %>
      </li>
      <li class="nav-item" style="background-color:#FDE1C9;">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-muted" %>
      </li>
    <% else %>
      <li class="nav-item" style="background-color:#FCF5DC;">
        <%= link_to "ホーム", root_path, class: "mx-4 text-muted" %>
      </li>
      <li class="nav-item" style="background-color:#FDE1C9;">
        <%= link_to "サービス", home_about_path, class: "mr-4 text-muted" %>
      </li>
      <li class="nav-item" style="background-color:#FCF5DC;">
        <%= link_to "ログイン", new_user_session_path, class: "mr-4 text-muted" %>
      </li>
      <li class="nav-item" style="background-color:#FDE1C9;">
        <%= link_to "サインアップ", new_user_registration_path, class: "text-muted" %>
      </li>
    <% end %>
  </ul>
</header>